body {
    font-family:Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;
    1text-shadow: 1px 1px 2px #000;
}

#box {
    background-color:#eee !important;
    color:#333 !important;
    text-shadow:none !important;
}

body p {
    margin-bottom: 1em;
    text-align: justify;
}

pre,code {
    border-radius: 5px;
    text-shadow: none;
    margin: 1em auto;
    font: 'Bitstream Vera Sans Mono','Courier',monospace;
}

#box a {
    color: #444 !important;
    text-decoration:underline !important;
}

#box a:hover {
    text-decoration:none !important;
    color:#666 !important;
}

h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}

h1, h2 {
    color: #333 !important;
    margin-bottom: 0.5em;
    font-weight: normal;
}

#wsite-content * {
    line-height:1.4em;
}

#wsite-content ul, #wsite-content ol {
    list-style: square;
    margin-left: 2em;
    margin-bottom: 1em;
}
