* {
    margin:0;
    padding:0;
}
body * {
    line-height:1.4em;
}

html {
    overflow-y:scroll;
}

html,body {
    height:100%;
    color:#000;
}

body {
    font-family:Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;
    text-shadow: 1px 1px 2px #000;

    color: #aaa !important;
    background-color: transparent !important;
}

pre,code {
    text-shadow: none;
    font: 'Bitstream Vera Sans Mono','Courier',monospace;
}

a {
    color: #fff;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    margin-bottom: 0.5em;
}

ul, ol {
    list-style: square;
    margin-left: 2em;
    margin-bottom: 1em;
}
