<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Progstr Docs - {{ page.title }}</title>
    <link href="stylesheets/default.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/syntax.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7121746-13']);
      _gaq.push(['_setDomainName', '.progstr.com']);
      _gaq.push(['_setAllowHash', 'false']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="main">
      <div id="header" class="basic" style="margin-bottom:20px">
        <div class="site">
          <div class="logo">
            <a href="/"><img src="/images/progstr-logo.png" alt="progstr docs" /></a>
          </div>
          <div class="toplinks">
            <ul class="nav" style="margin-top:20px">
              <li><a href="http://progstr.com/">progstr.com</a></li>
              <li><a href="http://demos.progstr.com/" target="_blank">Demos</a></li>
              <li><a href="http://support.progstr.com/" target="_blank">Support</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="content" class="site">
        <div class="wikistyle">
          {{ content }}
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="site">
        <div class="info">
          <div class="company">
           &copy;
            {{ site.time | date: "%Y" }}
            Progstr.com
            All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
