<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv='X-UA-Compatible' content='IE=EmulateIE7' />
    <title>Progstr Filer - {{ page.title }}</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />
    <link href="stylesheets/filer.css" media="screen" rel="stylesheet" type="text/css" />

    <link rel='stylesheet' href='http://cdn1.editmysite.com/editor/images/common/common-v2.css' type='text/css' />
    <link rel='stylesheet' type='text/css' href='http://filer.progstr.com/files/main_style.css' title='wsite-theme-css' />
  </head>
  <body class='wsite-theme-light wsite-page-documentation'>
    <div id='menu'>
      <div id='menuwidth'>
        <div id='logodiv'>
          <a href='http://filer.progstr.com'><img src='http://filer.progstr.com/uploads/5/0/4/9/5049526/1325931614.png' /></a>
        </div>
        <div id='menudiv'>
          <ul>
            <li><a href='http://filer.progstr.com/live-demo.html'>Live Demo</a></li>
            <li id='active'><a href='http://filer.progstr.com/documentation.html'>Documentation</a></li>
            <li><a href='http://filer.progstr.com/blog.html'>Blog</a></li>
            <li><a href='http://filer.progstr.com'>Log in</a></li>
            <li><a href='http://filer.progstr.com'>Create account</a></li>
          </ul>
        </div>
        <div class='clear'></div>
      </div>
    </div>

    <div id="box">
      <div id='wsite-content' class='wsite-not-footer'>
        <div class='wsite-not-footer'>
          <div>
            <div id="460471794935572117" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
              {{content}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24267977-1']);
      _gaq.push(['_setDomainName', '.docs.progstr.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
   </body>
 </html>
